[submodule "libs/zigglgen"]
	path = libs/zigglgen
	url = git@github.com:castholm/zigglgen.git
[submodule "libs/mach-glfw"]
	path = libs/mach-glfw
	url = git@github.com:slimsag/mach-glfw.git
[submodule "libs/glm-zig"]
	path = libs/glm-zig
	url = https://git.sr.ht/~scarey/glm-zig
[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm.git
